main{
    min-height: calc(100vh - 50px);
    background: linear-gradient(#003366, #d3d3d3);
    padding: 40px;
    overflow-x: hidden;
}

.container-flex-main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

.descripcion-chatbot{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin-top: 5%;
}

.descripcion-chatbot article{
    background-color: #d3d3d3;
    padding: 20px;
    border: black 2px solid;
}

.tecnologias-usadas{
    grid-column: 1 / 2;
    
}

.informacion{
    grid-column: 2 / 4;
}

.descripcion-chatbot p{
    color: #003366;
    text-align: left;
    margin-top: 2.5%;
    text-align: justify;
    margin-bottom: 5px;
}

h2{
    color: #003366;
}

.tecnologias-img-container{
    height: 50px;
    width: 50px;
    object-fit: cover;
}

.tecnologias-img-container img{
    height: 100%;
    width: 100%;
}

.tecnologias-img-flex{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 7%;
}

.informacion-pdf-container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.fa-file-pdf{
    color: #003366;
    margin-top: 2%;
}

@media screen and (max-width: 1300px) {


}

/* Tablets (en modo retrato) */
@media screen and (max-width: 1025px) {

} 

/* Tablets pequeñas (en modo paisaje) */
@media screen and (max-width: 900px) {
    video{
        width: 620px;
        height: 540px;
    }

    .descripcion-chatbot{
        grid-template-columns: 1fr;
    }

    .descripcion-chatbot article{
        grid-column: 1 / 4;
    }
}

@media screen and (max-width: 700px) {
    video{
        width: 420px;
        height: 340px;
    }

}

/* Tablets pequeñas (en modo retrato) */
@media screen and (max-width: 600px) {
    main{
        margin-top: 15vh;
    }



}

/* iPhone 8 Plus, 7 Plus, 6S Plus, 6 Plus (y dispositivos de tamaño similar) en modo retrato */
@media screen and (max-width: 414px) {
    video{
        width: 220px;
        height: 140px;
        margin-top: 15%;
    }
}

/* iPhone X, iPhone 8, 7, 6S, 6 (y dispositivos de tamaño similar) en modo retrato */
@media screen and (max-width: 375px) {

}

/* Teléfonos más pequeños (modelos más antiguos de iPhone y otros dispositivos) */
@media screen and (max-width: 320px) {
    body {
        /* Tus estilos para teléfonos más pequeños aquí */
    }
}