main{
    min-height: calc(100vh - 50px);
    background: linear-gradient(#003366, #d3d3d3);
    padding: 40px;
    overflow-x: hidden;
}

.main-flex-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.main-grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin-top: 5%;
}

.main-grid-container article{
    background-color: #d3d3d3;
    padding: 20px;
    border: black 2px solid;
}


.main-grid-container p{
    color: #003366;
    text-align: left;
    margin-top: 2.5%;
    text-align: justify;
    margin-bottom: 5px;
}

h2{
    color: #003366;
}

.tecnologias-img-container{
    height: 50px;
    width: 50px;
    object-fit: cover;
}

.tecnologias-img-container img{
    height: 100%;
    width: 100%;
}

.tecnologias-img-flex{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 15%;
}

.informacion-pdf-container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.tecnologias-usadas{
    grid-column: 1/ 2;
}

.informacion{
    grid-column: 1 / 4;
}

@media screen and (max-width: 1300px) {

}

/* Tablets (en modo retrato) */
@media screen and (max-width: 1025px) {

} 

/* Tablets pequeñas (en modo paisaje) */
@media screen and (max-width: 900px) {

}

@media screen and (max-width: 700px) {

}

/* Tablets pequeñas (en modo retrato) */
@media screen and (max-width: 600px) {
    main{
        margin-top: 15vh;
    }

    .main-grid-container{
        grid-template-columns: 1fr;
    }
    .tecnologias-usadas{
        grid-column: 1/ 4;
    }
    
    .informacion{
        grid-column: 1 / 4;
    }
}

/* iPhone 8 Plus, 7 Plus, 6S Plus, 6 Plus (y dispositivos de tamaño similar) en modo retrato */
@media screen and (max-width: 414px) {
    .tecnologias-img-flex{
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }
}

/* iPhone X, iPhone 8, 7, 6S, 6 (y dispositivos de tamaño similar) en modo retrato */
@media screen and (max-width: 375px) {

}

/* Teléfonos más pequeños (modelos más antiguos de iPhone y otros dispositivos) */
@media screen and (max-width: 320px) {

}