*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #ffffff; 
}

header{
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #003366 ;
    height: 15vh;
    min-height: 15vh;
    max-height: 15vh;
    border-bottom: #d3d3d3 solid 3px;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

a{
    text-decoration: none;
    margin: 40px;
    transition: color 0.3s ease;
}

i:hover{
    color: #50c878;  
}

a:hover {
    color: #50c878;
}

.gmail{
    display: flex;
    flex-direction: row;
    transition: color 0.3s ease;
}

.gmail:hover, .gmail:hover i{
    color: #50c878;
}

i{
    padding-left: 10px;
    font-size: 24px;
    transition: color 0.3s ease;
}

#copiar{
    position: relative;
    left: -40px;
}

#copiar:hover{
    cursor: pointer;
}

#copiar:hover + .mensaje-copiar{
    opacity: 1;
    visibility: visible;
}


.mensaje-copiar{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 10px;
    right: 0;
    transform: translateX(-50%);
    padding: 5px;
    color: #ffd700;
    border-radius: 3px;
    font-size: 15px;
    z-index: 100;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.linkedln{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 10px;
    left: 8.1%;
    padding: 5px;
    color: #ffd700;
    border-radius: 3px;
    font-size: 15px;
    z-index: 100;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.cv{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 10px;
    left: 29.2%;
    padding: 5px;
    color: #ffd700;
    border-radius: 3px;
    font-size: 15px;
    z-index: 100;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.iconoLinkedln:hover + .linkedln{
    opacity: 1;
    visibility: visible;
}



.iconoCV:hover + .cv{
    opacity: 1;
    visibility: visible;
}

.enviar-gmail{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 10px;
    left: 48%;
    padding: 5px;
    color: #ffd700;
    border-radius: 3px;
    font-size: 15px;
    z-index: 100;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.gmail:hover + .enviar-gmail{
    opacity: 1;
    visibility: visible;
}

.content-img{
    height: 150px;
    width: 150px;
    min-width: 50px;
    min-height: 50px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
}

.fotoPerfil{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.titulo-foto{
    display: flex;
    flex-direction: row;
    align-items: center;
}


.modal {
    display: none; /* Oculto por defecto */
    position: fixed; /* Se queda fijo en el lugar */
    z-index: 140; /* Se sitúa sobre los demás elementos */
    left: 0;
    top: 0;
    width: 100%; /* Ancho completo */
    height: 100%; /* Alto completo */
    overflow: auto; /* Si es necesario, añade una barra de desplazamiento */
    background-color: rgb(0,0,0); /* Fondo negro */
    background-color: rgba(0,0,0,0.9); /* Negro con opacidad */
}

.modal-contenido {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px; /* Ajusta según tus necesidades */
}

.cerrar {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #50c878;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.cerrar:hover,
.cerrar:focus {
    color: #d3d3d3;
    text-decoration: none;
    cursor: pointer;
}

.menu-oculto{
    display: none;
    height: calc(100% - 15vh);
    width: 0;
    position: fixed;
    z-index: 210;
    top: 15vh;
    right: 0;
    background-color: #003366;
    overflow-x: hidden;
    transition: 0.5s;
}

.menu-visible{
    width: 100%;
}

.menu-oculto a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffd700;
    display: block;
    transition: 0.3s;
}
  

/* Tablets grandes (en modo paisaje) */
@media screen and (max-width: 1300px) {
    
    i, a{
        font-size: 15px;
    }

    h1{
        font-size: 20px;
    }

    .content-img{
        height: 15vw;
        width: 15vw;
    }

}

.menu{
    display: none;
}

/* Tablets (en modo retrato) */
@media screen and (max-width: 1000px) {
    header{
        padding: 10px;
        margin: 0;
        flex-direction: column;
        min-height: none;
        max-height: none;
        width: 100%;
        min-height: none;
        max-height: none;
        height: 100%;
    }
} 

/* Tablets pequeñas (en modo paisaje) */
@media screen and (max-width: 800px) {

}

/* Tablets pequeñas (en modo retrato) */
@media screen and (max-width: 600px) {
   header{
    height: 0;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 300;
    width: 100%;
    justify-content: center;
   }
   
    nav{
    display: none;
   }

   .menu{
    display: block;
    position: absolute;
    right: 10%;
    cursor: pointer;
   }

   .menu-oculto{
    display: block;
   }

}

/* iPhone 8 Plus, 7 Plus, 6S Plus, 6 Plus (y dispositivos de tamaño similar) en modo retrato */
@media screen and (max-width: 414px) {
    body {
        /* Tus estilos para estos modelos de iPhone más grandes aquí */
    }
}

/* iPhone X, iPhone 8, 7, 6S, 6 (y dispositivos de tamaño similar) en modo retrato */
@media screen and (max-width: 375px) {
    .menu-oculto a{
        font-size: 15px;
    }
    h1{
        margin-right: 20%;
    }

    header{
        flex-direction: column;
    }
}

/* Teléfonos más pequeños (modelos más antiguos de iPhone y otros dispositivos) */
@media screen and (max-width: 320px) {
    body {
        /* Tus estilos para teléfonos más pequeños aquí */
    }
}