main{
    min-height: calc(100vh - 50px);
    background: linear-gradient(#003366, #d3d3d3);
    padding: 40px;
    overflow-x: hidden;
}

.container-main-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

#slider{
    position: relative;
    width: 700px;
    height: 500px;
}

.slide{
    margin-top: 5%;
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: none;
}

#prev, #next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #d3d3d3;
    opacity: 0.8;
    border: none;
    padding: 10px;
    cursor: pointer;
    color: #003366;
}

#prev { left: -50px; }
#next { right: -50px; }

.main-grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin-top: 10%;
}

.main-grid-container article{
    background-color: #d3d3d3;
    padding: 20px;
    border: black 2px solid;
}


.main-grid-container p{
    color: #003366;
    text-align: left;
    margin-top: 2.5%;
    text-align: justify;
    margin-bottom: 5px;
}

h2{
    color: #003366;
}

.tecnologias-img-container{
    height: 50px;
    width: 50px;
    object-fit: cover;
}

.tecnologias-img-container img{
    height: 100%;
    width: 100%;
}

.tecnologias-img-flex{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 35%;
}

.informacion-pdf-container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.tecnologias-usadas{
    grid-column: 1 / 2;
}

.informacion{
    grid-column: 2 / 4;
}


@media screen and (max-width: 1300px) {

}

/* Tablets (en modo retrato) */
@media screen and (max-width: 1025px) {

} 

/* Tablets pequeñas (en modo paisaje) */
@media screen and (max-width: 900px) {
    #slider{
        position: relative;
        width: 600px;
        height: 400px;
    }

    .main-grid-container{
        grid-template-columns: 1fr;
    }

    #prev { left: -25px; }
    #next { right: -25px; }
}

@media screen and (max-width: 700px) {
    .tecnologias-usadas{
        grid-column: 1 / 4;
        height: auto;
    }
    
    .informacion{
        grid-column: 1 / 4;
    }

    #prev { left: 50px; }
    #next { right: 50px; }
}

/* Tablets pequeñas (en modo retrato) */
@media screen and (max-width: 600px) {
    main{
        margin-top: 15vh;
    }

    #slider{
        position: relative;
        width: 500px;
        height: 300px;
    }
}

/* iPhone 8 Plus, 7 Plus, 6S Plus, 6 Plus (y dispositivos de tamaño similar) en modo retrato */
@media screen and (max-width: 414px) {
    #prev, #next{
        transform: scale(0.8);
        
    }

    #prev { left: 70px; }
    #next { right: 70px; }
}

/* iPhone X, iPhone 8, 7, 6S, 6 (y dispositivos de tamaño similar) en modo retrato */
@media screen and (max-width: 375px) {
    #slider{
        position: relative;
        width: 400px;
        height: 200px;
        margin-bottom: 10%;
    }

    h1{
        font-size: 25px;
    }
}

/* Teléfonos más pequeños (modelos más antiguos de iPhone y otros dispositivos) */
@media screen and (max-width: 320px) {

}